{% include navigation.html context="/" %}

<!-- <ul class="nav">
  {%- assign sorted_pages = site.pages | sort:"position" -%}
  {% for _page in sorted_pages %}
    {% if _page.url != "/feed.xml" and _page.parent == nil %}
      <li {% if page.url == _page.url %}class="active"{% endif %}>
        <a class="main-link" href="{{_page.url}}" title="{{_page.title}}">{{_page.title}}</a>
        {% for __page in site.pages %}
          {% if __page.parent == _page.dir %}
            <ul class="subnav">
              <li><a href="{{__page.url}}">{{__page.title}}</a></li>
            </ul>
          {% endif %}
        {% endfor %}
      </li>
    {% endif %}
  {% endfor %}
</ul> -->
